<form #registerForm="ngForm" (ngSubmit)="loginUser()">
    <!-- Name input -->
    <div class="form-outline mb-4">
        <input type="text" class="form-control" name="name" [(ngModel)]="user.name" #name="ngModel" required />
        <div *ngIf="name.touched">
            <p *ngIf="name.errors?.['required']">Name is a required field!</p>
        </div>
        <label class="form-label" for="registerName">Name</label>
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
        <input type="email" class="form-control"  name="email" [(ngModel)]="user.email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
        <div *ngIf="email.touched" class="error">
            <p *ngIf="email.errors?.['required']">Email is a required field!</p>
            <p *ngIf="email.errors?.['pattern']">This is not a valid Email!!!</p>
        </div>
        <label class="form-label" for="registerEmail">Email</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <input type="password" id="registerPassword" class="form-control" name="password" [(ngModel)]="user.password"
            required />
        <label class="form-label" for="registerPassword">Password</label>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-3" [disabled]="!registerForm.valid">Sign in</button>
</form>